.fotorama-wrap
  .fotorama{ "data-transition" => "slide", "data-autoplay" => "true", "data-loop" => "true", "data-width" => "100%", "data-ratio" => "16/7", "data-fit" => "cover" }
    - projects.each do |project|
      .caption{"data-img" => (project.screenshots.last.image.url if project.screenshots.last)}
        %a.project-link{href: project_path(project)}
        %a.partner-link{href: partner_path(project.partner)}
          %img{src: (project.partner.logo_url(:small) if project.partner)}
